body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
h3{
  text-align: center;
}
h5{
  text-align: center;
}
/* Agrega estilos según tus preferencias */
.ofertaExpirada {
  padding: 16px 0px;
  border-radius: 16px;
  display: none;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
.titulo_oferta_expirada {
  font-size: 30px;
  color: white;
  margin: 0px;
}

body h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
/* Estilos para el contenedor de la barra de temporizador */
.cointainer_barra_temporizador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
}

/* Estilos para el texto en la barra de temporizador */
.texto_barra_temporizador {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

/* Estilos para encabezados en la barra de temporizador */
.texto_barra_temporizador h3 {
  text-align: center;
  margin: 0;
}
/* Estilos para el contenedor del temporizador */
.div_temporizador {
  display: flex;
  align-items: center;
}

/* Estilos para los cuadrados en el temporizador */
.cuadrado_temporizador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 16px;
  width: 90px;
  height: 90px;
  background-color: white;
  padding: 8px;
}

/* Estilos para encabezados en los cuadrados del temporizador */
.cuadrado_temporizador h4 {
  margin: 0px;
  font-size: 18px;
  color: red;
}

/* Estilos para números en el temporizador */
#numero_temporizador_dias,
#numero_temporizador_horas,
#numero_temporizador_minutos,
#numero_temporizador_segundos {
  font-size: 25px;
  color: red;
  margin: 0px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: black;
}
.menu img {
  width: 12.5rem;
  margin: 12px;
  margin-left: 50px;
}
.div_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.div_menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.menu_responsive {
  display: none;
}
.container-nav-r {
  display: none;
}

.icon-nav {
  display: none;
}

.barra_oferta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  margin: 0px 0px;
  padding: 50px 0px;
  padding-bottom: 65px;
}
.barra_oferta p {
  font-weight: 600;
  margin: 12.5px;
  text-align: center;
  font-size: 18px;
  color: white;
}
#titulo_evento_gratuito {
  font-size: 40px;
}
#primera_seccion {
  display: flex;
  align-items: center;
}
.container_imagen_responsive_primera_pagina {
  display: none;
}
#primera_seccion h1 {
  width: 85%;
  margin: 50px 0px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: 800;
  background: radial-gradient(#c0bbaf, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.logo_responsive {
  width: 12.5rem;
  margin: 4px;
}
.textos_Primera_seccion {
  width: 80%;
  margin: 0px;
  margin-left: 50px;
}
.textos_Primera_seccion h2 {
  margin: 25px 0px;
  text-align: start;
  font-weight: 500;
  font-size: 18px;
  margin-top: 0px;
  color: #818181;
}
.textos_Primera_seccion p {
  text-align: start;
  font-size: 18px;
  margin-bottom: 25px;
  color: #818181;
}

#primera_seccion h1 {
  margin: 12.5px 0px;
}

h2,
p,
#tercera_seccion,
.textos_tarjeta {
  text-align: center;
}

#banner {
  display: flex;
  margin: 50px 0px;
  margin-right: 50px;
  width: 100%;
  justify-content: center;
  border-left: solid 1px #81818127;
}
#banner img {
  width: 30rem;
  height: 27rem;
  border-radius: 8px;
  border: solid 1px #818181c2;
}
#banner iframe {
  width: 35rem;
  height: 27rem;
  border-radius: 8px;
  border: solid 1px #818181c2;
}
.barra_oferta img {
  width: 15rem;
  height: 15rem;
  border-radius: 8px;
  border: solid 1px #818181c2;
}
#containerBotones {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.cta_primera_pagina {
  background: rgb(52, 51, 49);
  background: linear-gradient(
    90deg,
    rgba(52, 51, 49, 1) 0%,
    rgba(129, 126, 120, 1) 35%,
    rgba(192, 187, 175, 1) 100%
  );
  padding: 16px;
  border: solid 1px #c0bbaf;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
}
#cta_menu {
  padding: 12px;
  border: none;
}
#containerBotones_tercera_pagina {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.cta_tercera_pagina {
  background: rgb(52, 51, 49);
  background: linear-gradient(
    90deg,
    rgba(52, 51, 49, 1) 0%,
    rgba(129, 126, 120, 1) 35%,
    rgba(192, 187, 175, 1) 100%
  );
  padding: 25px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 21px;
  box-shadow: 0px 0px 25px #c0bbaf;
  animation: moveButton 0.5s infinite alternate;
}
/* Define la animación de movimiento */
@keyframes moveButton {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px); /* Mueve el botón hacia abajo */
  }
}
#boton_cursos {
  border: solid 1px #c0bbaf;
  background: white;
  color: #797569;
  font-weight: 500;
  margin-left: 16px;
}

/*APARECE EN*/
.aparece_en {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  margin-bottom: 60px;
}
.aparece_en img {
  width: 8%;
  border-radius: 100%;
}
#parrafo_aparece_en {
  margin: 0px 0px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 800;
  background: radial-gradient(#c0bbaf, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*Segunda seccion*/

#segunda_seccion {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 8px;
}
#segunda_seccion h2 {
  font-size: 40px;
  font-weight: 800;
  margin: 0px 100px;
  margin-bottom: 30px;
  background: radial-gradient(#8b8b8b, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#segunda_seccion p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0px 100px;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

/*tercer seccion*/
#tercera_seccion {
  width: 100%;
  margin-bottom: 60px;
}
#tercera_seccion h2 {
  font-size: 40px;
  font-weight: 800;
  background: radial-gradient(#8b8b8b, #303030);
  margin: 0px 100px;
  margin-bottom: 30px;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#tercera_seccion p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0px 100px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 50px;
  text-align: start;
}

/*cuarta_seccion*/
#cuarta_seccion {
  background-color: black;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 50px 0px;
}
.foto_mi_nombre img {
  width: 20em;
  margin: 0px 120px;
  border-radius: 8px;
  border: solid 4px #30ced67e;
}
.titulo_texto_cuarta_seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}
#cuarta_seccion h2 {
  font-size: 40px;
  font-weight: 800;
  margin: 0px 50px;
  margin-left: 0px;
  margin-bottom: 30px;
  text-align: start;
  background: radial-gradient(#8b8b8b, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#cuarta_seccion p {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: start;
  margin: 0px 50px;
  margin-left: 0px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
}

/*quinta_seccion*/
#quinta_seccion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}
#subtitulo_quinta_seccion {
  font-size: 50px;
  margin: 60px 50px;
  margin-bottom: 25px;
  font-weight: 800;
  background: radial-gradient(#c0bbaf, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#parrafo_quinta_seccion {
  font-family: "Montserrat", sans-serif;
  margin: 0px 50px;
  margin-bottom: 30px;
}
#container_tarjetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 50px;
}
.parrafo_tarjeta {
  font-weight: 500;
}
.cta_quinta_pagina {
  margin: auto;
  padding: 16px;
  color: white;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 16px;
  background: rgb(52, 51, 49);
  background: linear-gradient(
    90deg,
    rgba(52, 51, 49, 1) 0%,
    rgba(129, 126, 120, 1) 35%,
    rgba(192, 187, 175, 1) 100%
  );
  border: solid 1px #c0bbaf;
  border-radius: 8px;
}

#container_tarjetas img {
  width: 12em;
  height: 10em;
  margin: auto;
}

.tarjeta_quinta_seccion {
  border: solid #c0bbaf 1px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  padding: 8px;
  margin: 16px 0px;
  background-color: #c0bbaf21;
}

.texto_tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 8px;
  margin: 16px;
  background-color: #f3f3f3;
}
.titulo_tarjeta {
  font-size: 16px;
  margin: 12.5px 16px;
  margin-bottom: 25px;
  font-weight: 500;
  background: radial-gradient(#c0bbaf, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.texto_tarjeta p {
  margin: 0px 16px;
}
.texto_tarjeta h2 {
  font-size: 30px;
  margin: 16px 0px;
  font-weight: 800;
  background: radial-gradient(#8b8b8b, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*sexta_seccion*/
#sexta_seccion {
  width: 100%;
  background: radial-gradient(#0e0e0e, #000000);
  padding: 12.5px 0px;
  padding-top: 12px;
  margin-bottom:0px;
}
#sexta_seccion h2 {
  font-size: 50px;
  margin: 30px 50px;
  margin-bottom: 25px;
  font-weight: 800;
  background: radial-gradient(#c0bbaf, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#container_testimonios_foto {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 50px 16px;
}

.container_testimonio {
  display: flex;
  flex-direction: column;
}

.testimonio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(255, 255, 255, 0.904);
  backdrop-filter: blur(1.17rem); /* Fondo semitransparente */
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin: 0px;
  border-radius: 8px;
  z-index: 1; /* Asegura que el párrafo esté encima de la imagen */
}
.carousel-container {
  position: relative;
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 300px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
  font-size: 50px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.prev-btn {
  left: -5px;
  background: radial-gradient(#c0bbaf, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.next-btn {
  right: 5px;
  background: radial-gradient(#c0bbaf, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container_testimonio:hover .testimonio {
  transition: 0.5s all;
  opacity: 1;
}
.container_testimonio img {
  width: 345px;
  height: 345px;
  margin: 12.5px;
  border-radius: 8px;
  object-fit: contain;
}

/* SECCION BONUS*/
.seccion_bonus {
  background: rgb(30, 131, 136);
  background: linear-gradient(122deg, rgb(0, 0, 0) 0%, rgb(34, 34, 34) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 50px;
  padding-top: 40px;
}
.div_bonus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.seccion_bonus h2 {
  font-size: 50px;
  background: radial-gradient(#c0bbaf, #7c7c7c);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0px 50px;
  margin-bottom: 50px;
}
.foto_suscripcion {
  width: 20rem;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 25px;
}
.texto_parrafo_1 {
  font-weight: 300;
  font-size: 18px;
  color: white;
  margin: 12.5px 8px;
}
.texto_parrafo_2 {
  color: white;
  font-size: 25px;
  margin: 0px 8px;
}
.texto_parrafo_2_2 {
  font-size: 25px;
  font-weight: 800;
  color: white;
  text-align: center;
  margin: 25px 100px;
  margin-bottom: 0px;
}
#parrafo_gratis {
  font-size: 30px;
  font-weight: 800;
  color: #00f700;
  text-align: center;
  margin: 0px 8px;
}

/*septima_seccion*/
#septima_seccion {
  width: 100%;
  margin-bottom: 60px;
}
#septima_seccion h2 {
  font-size: 50px;
  margin: 60px 50px;
  margin-bottom: 25px;
  font-weight: 800;
  background: radial-gradient(#c0bbaf, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#septima_seccion p {
  font-family: "Montserrat", sans-serif;
}
.container_servicio {
  display: flex;
  flex-direction: column;
  margin: 16px;
}
.container_servicio {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.container_servicio img {
  width: 220px;
  margin: auto;
}

#container_todos_servicios {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}

#container_todos_servicios h3 {
  text-align: center;
  background: radial-gradient(#c0bbaf, #0000009f);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*octava_seccion*/
#octava_seccion {
  background-color: black;
  display: flex;
  margin-bottom: 60px;
  padding: 60px 50px;
}
.cta_octava_pagina {
  border: none;
}
#container_calendario_boton {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.containerBotones_octava_pagina {
  margin: 0px;
  justify-content: center;
  align-items: center;
}
#containerBotones_calendario {
  margin-top: 50px;
}
#calendario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1px #c0bbaf;
}
#cta1_octava_pagina {
  margin: auto;
}
#cta_octava_pagina {
  margin: 50px 0px;
}
#octava_seccion h2 {
  width: 80%;
  text-align: start;
  margin-top: 0px;
  font-size: 40px;
  font-weight: 800;
  background: radial-gradient(#c0bbaf, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#octava_seccion p {
  color: white;
  text-align: start;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  font-weight: 300;
  font-size: 24px;
  line-height: 37px;
  margin: 50px 16px;
  margin-left: 0px;
  margin-bottom: 50px;
}

/*novena_seccion*/

#novena_seccion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}
#novena_seccion h2 {
  font-size: 40px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 32px;
  background: radial-gradient(#c0bbaf, #303030);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#novena_seccion p {
  font-family: "Montserrat", sans-serif;
}
#container_preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pregunta {
  background-color: #f3f3f3;
  width: 50%;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 1px 2px 10px 1px;
}
.boton_pregunta {
  display: flex;
}
.ver_mas {
  cursor: pointer;
  margin: 16px;
  margin-left: 8px;
}
.respuesta {
  display: none;
  text-align: start;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background-color: black;
  margin-top: 50px;
}
.contactos {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 100px;
}
.contactos a {
  text-decoration: none;
}
#menu_footer {
  margin: auto;
}
#footer a img {
  width: 50px;
  margin: 0px 25px;
}
.copy {
  margin-top: 60px;
  font-weight: 300;
  color: white;
}

/*HOVERS*/
.div_menu a:hover {
  color: #c0bbaf;
  transition: 0.2s all;
}
#cta_menu:hover {
  background: white;
  color: #c0bbaf;
  font-weight: 500;
  transition: 0.5s all;
}
.cta_primera_pagina:hover {
  border: solid 1px #c0bbaf;
  background: white;
  color: #c0bbaf;
  font-weight: 500;
  transition: 0.5s all;
}
#boton_cursos:hover {
  background: rgba(203, 203, 203, 0.418);
  background: linear-gradient(
    180deg,
    rgba(203, 203, 203, 0.438) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  transition: 0.5s all;
}
.pregunta:hover {
  transition: 0.5s all;
}
.cta_quinta_pagina:hover {
  border: solid 1px #c0bbaf;
  background: white;
  color: #c0bbaf;
  font-weight: 500;
  transition: 0.5s all;
}
.cta_octava_pagina:hover {
  border: none;
}

#testimonio1 {
  height: 21rem;
}
#testimonio2 {
  height: 20rem;
}
#testimonio3 {
  height: 17rem;
}
#testimonio4 {
  height: 12rem;
}
#testimonio5 {
  height: 14rem;
}
#testimonio6 {
  height: 12rem;
}
#testimonio7 {
  height: 30rem;
}
#testimonio8 {
  height: 8rem;
}
#testimonio9 {
  height: 22rem;
}

/* RESPONSIVE*/

@media only screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
  #containerBotones_tercera_pagina {
    margin-top: 25px;
  }
  #logo_horizontal {
    display: none;
  }
  .container-nav-r {
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.904);
    backdrop-filter: blur(1.17rem);
    left: -600px;
    padding-right: 8px;
  }
  /* Estilos para el contenedor de la barra de temporizador */
  .cointainer_barra_temporizador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;
  }

  /* Estilos para el texto en la barra de temporizador */
  .texto_barra_temporizador {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  /* Estilos para encabezados en la barra de temporizador */
  .texto_barra_temporizador h3 {
    text-align: center;
    margin: 0;
  }
  /* Estilos para el contenedor del temporizador */
  .div_temporizador {
    display: flex;
    align-items: center;
  }

  /* Estilos para los cuadrados en el temporizador */
  .cuadrado_temporizador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px;
    height: 5rem;
    background-color: white;
    padding: 0px;
  }

  /* Estilos para encabezados en los cuadrados del temporizador */
  .cuadrado_temporizador h4 {
    margin: 0px;
    font-size: 1rem;
    color: red;
  }

  /* Estilos para números en el temporizador */
  #numero_temporizador_dias,
  #numero_temporizador_horas,
  #numero_temporizador_minutos,
  #numero_temporizador_segundos {
    font-size: 25px;
    color: red;
    margin: 0px;
  }
  .container-nav-r #menu2 {
    position: relative;
    width: 38px;
    height: 35px;
    margin-left: 15px;
    top: -45px;
    margin-top: -13px;
    opacity: 0;
    transition: ease-in-out 1s;
  }
  .container-nav-r .ul-nav-r {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33vw;
    height: 150px;
    padding: 15px 25px;
    padding-right: 245px;
    background-color: transparent;
  }
  .container-nav-r .ul-nav-r .li-nav-r .text-nav-r {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
    background: radial-gradient(#8b8b8b, #303030);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .icon-nav {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
  }
  .icon-nav i {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .icon-nav i #menu1 {
    position: absolute;
    width: 35px;
    margin: 16px;
    transition: ease-in-out 0.5s;
  }

  .menu_responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: black;
    margin: 0px;
  }
  .div_menu_responsive a {
    display: none;
  }

  .logo_responsive {
    display: flex;
    width: 4em;
    margin: auto;
  }

  #banner {
    display: none;
  }
  .ofertaExpirada {
    width: 90%;
  }
  #titulo_evento_gratuito {
    margin-bottom: 25px;
    font-size: 35px;
  }

  #imagen_responsive_primera_seccion {
    width: 100%;
    border-radius: 8px;
    border: solid 2px #c0bbaf;
  }
  .container_imagen_responsive_primera_pagina {
    display: flex;
    justify-content: center;
    margin: 16px;
    margin-bottom: 25px;
  }
  #containerBotones {
    margin-top: 0px;
    margin: 12.5px 0px;
    margin-bottom: 0px;
    justify-content: center;
  }
  .cta_primera_pagina {
    background: rgb(52, 51, 49);
    background: linear-gradient(
      90deg,
      rgba(52, 51, 49, 1) 0%,
      rgba(129, 126, 120, 1) 35%,
      rgba(192, 187, 175, 1) 100%
    );
    padding: 16px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 0px 4px;
    font-size: 14px;
  }
  .cta_primera_pagina_responsive {
    padding: 8px;
    margin-bottom: 25px;
    border: none;
  }
  .cta_tercera_pagina {
    background: rgb(52, 51, 49);
    background: linear-gradient(
      90deg,
      rgba(52, 51, 49, 1) 0%,
      rgba(129, 126, 120, 1) 35%,
      rgba(192, 187, 175, 1) 100%
    );
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    font-size: 1.5rem;
  }

  #primera_seccion {
    height: 100%;
    margin: 0px;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 0px 0px;
  }
  #primera_seccion h1 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin: 25px 0px;
    margin-bottom: 12.5px;
  }
  .textos_Primera_seccion h2 {
    text-align: center;
    margin: 25px 16px;
    margin-top: 12.5px;
    font-size: 16px;
    font-weight: 500;
  }
  .textos_Primera_seccion {
    width: 100%;
    margin: 0px;
    margin-top: 12.5px;
    margin-bottom: 50px;
  }
  .textos_Primera_seccion p {
    text-align: center;
    margin: 25px 8px;
    font-size: 16px;
    font-weight: 500;
  }
  .aparece_en {
    margin: 0px;
    padding: 50px 8px;
    padding-top: 0px;
  }
  #parrafo_aparece_en {
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 500;
  }
  .aparece_en img {
    width: 18%;
    margin: 0px;
  }
  #segunda_seccion {
    background-color: #f0f0f0;
    padding: 50px 0px;
    margin: 0px 0px;
  }

  #segunda_seccion h2 {
    margin: 0px 16px;
    margin-bottom: 25px;
    font-size: 32px;
  }
  #segunda_seccion p {
    margin: 0px 16px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
  }

  #tercera_seccion {
    margin-bottom: 50px;
  }
  #tercera_seccion p {
    margin: 0px 16px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
  }
  #tercera_seccion h2 {
    margin: 50px 16px;
    margin-bottom: 25px;
    font-size: 28px;
  }
  #cuarta_seccion {
    flex-direction: column;
    height: 100%;
    margin-bottom: 25px;
    padding: 50px 0px;
  }
  #cuarta_seccion h2 {
    margin: 50px 16px;
    margin-bottom: 25px;
    font-size: 28px;
    text-align: center;
  }
  #cuarta_seccion p {
    text-align: center;
    margin: 0px 16px;
    font-size: 18px;
    font-weight: 500;
  }
  .foto_mi_nombre img {
    margin: 0px;
  }

  #quinta_seccion {
    margin-bottom: 25px;
  }
  #subtitulo_quinta_seccion {
    margin: 50px 8px;
    margin-top: 50px;
    margin-bottom: 12.5px;
    font-size: 32px;
  }
  #parrafo_quinta_seccion {
    margin: 12.5px 16px;
    margin-bottom:0px;
  }
  #container_tarjetas {
    flex-direction: column;
    margin: 0px;
  }
  .tarjeta_quinta_seccion {
    flex-direction: column;
    width: 100%;
  }
  .texto_tarjeta {
    margin: 25px 25px;
    padding: 0px;
  }
  #tarjeta1 {
    padding: 16px 0px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 12.5px;
  }
  #tarjeta2 {
    padding: 16px 0px;
    width: 90%;
    margin: auto;
    margin-bottom: 12.5px;
  }
  #tarjeta3 {
    padding: 16px 0px;
    width: 90%;
    margin: auto;
    margin-bottom: 12.5px;
  }
  #tarjeta4 {
    padding: 16px 0px;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
  }
  #container_tarjetas img {
    margin: auto;
    border-radius: 16px;
  }
  #sexta_seccion {
    padding: 50px 0px;
    background-color: #f0f0f0;
    margin-bottom: 0px;
  }
  #sexta_seccion h2 {
    margin: 0px;
    font-size: 32px;
  }
  #sexta_seccion p {
    margin: 0px 0px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 500;
  }
  .container_testimonio {
    margin: auto;
  }
  #container_testimonios_foto {
    flex-direction: column;
    margin: 9px 8px;
  }
  .container_testimonio img {
    margin: 16px 0px;
  }

  /* SECCION BONUS*/
  .seccion_bonus {
    padding: 50px 8px;
    margin-bottom: 0px;
  }
  #cta_tercera_pagina {
    border: none;
  }
  .foto_suscripcion {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 16rem;
  }
  .seccion_bonus h2 {
    margin: 0px;
    font-size: 32px;
    text-align: center;
  }
  .div_bonus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .texto_parrafo_2_2 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 12.5px 16px;
  }

  #septima_seccion {
    margin-bottom: 25px;
  }
  #septima_seccion h2 {
    margin: 50px 16px;
    margin-bottom: 25px;
    font-size: 28px;
  }

  #container_todos_servicios {
    flex-direction: column;
    margin: 0px;
  }
  #container_todos_servicios h3 {
    margin: 12.5px 8px;
  }
  .container_servicio {
    margin-bottom: 12.5px;
  }
  #octava_seccion {
    flex-direction: column;
    padding: 0px 8px;
    height: 100%;
    margin-bottom: 25px;
  }
  #octava_seccion h2 {
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin: 25px 0px;
    margin-top: 50px;
  }
  #subtitulo_octava_seccion {
    margin-bottom: 25px;
  }
  #octava_seccion p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: auto;
  }
  #calendario {
    margin-bottom: 25px;
  }
  .containerBotones_octava_pagina {
    padding-bottom: 25px;
  }

  #novena_seccion {
    margin-bottom: 25px;
  }

  #novena_seccion h2 {
    font-size: 28px;
    margin: 12.5px 8px;
    margin-bottom: 25px;
  }

  .pregunta {
    width: 95%;
    padding: 0px;
    margin: 12.5px 8px;
  }
  .boton_pregunta {
    display: flex;
    align-items: center;
  }
  .ver_mas {
    padding: 16px;
    padding-right: 16px;
    margin: 0px;
  }

  .pregunta h3,
  .respuesta {
    font-size: 16px;
    margin: 16px;
  }
  .pregunta h3 {
    margin-left: 0px;
  }
  #footer a img {
    width: 50px;
  }
  .div_menu {
    display: none;
  }
  .copy {
    margin: 0px 8px;
  }
}
